.footer

  &-container
    display flex
    justify-content: space-between;
    align-items: center
    padding: 5px 15px
    background: $background2

  &-left
  &-right
    display: flex;
    align-items: center

  &-logo
  &-terminos
  &-icon
    color: $color-text2

  &-icon
    padding: .2em
    font-size: 2em

  &-logo
    padding-right: 2em

  &-terminos
    text-align: right;
