.terminos
  &-container
    width: 100%

  &-title
    background: $color-primary
    padding 1.5em 15px
    color white
    font-weight: bold;
    font-size: 1.5em

  &-term
    padding: 15px

    &-number
      color $color-primary
      font-weight: bold;
      font-size: .8em
      padding-bottom: 5px

    &-title
      font-weight: bold;
      font-size: 1.2em
      padding-bottom: 5px

    &-text
      color #777
