@import "./icomoon/style.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #323232;
  background: #f4f4f4;
}
.header-container {
  height: 76px;
  background: #fdfdfd;
  padding: 5px 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
}
.header-menus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-logo {
  width: auto;
  height: 100%;
}
.header-icon {
  padding: 0.5em;
  font-size: 2em;
  cursor: pointer;
}
.header-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-input {
  line-height: 1.5em;
  border: none;
  display: none;
  background: #fff;
}
.header-input:focus {
  outline-style: none;
}
.header-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.header-button:focus {
  outline-style: none;
}
.header-menu-responsive {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (min-width: 769px) {
  .header-menu-responsive {
    display: none;
  }
}
.header-nav {
  background: #fdfdfd;
  position: absolute;
  z-index: 10000;
  top: 76px;
  left: 0;
  width: 100%;
  display: none;
}
@media screen and (min-width: 769px) {
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }
}
.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 769px) {
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.nav-item {
  width: 100%;
  text-align: center;
}
.nav-item a {
  display: block;
  cursor: pointer;
  padding: 1em;
  font-weight: 600;
}
.nav-item a:hover {
  background: #cacaca;
}
.show {
  display: block;
}
.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background: #333;
}
.footer-left,
.footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-logo,
.footer-terminos,
.footer-icon {
  color: #fefefe;
}
.footer-icon {
  padding: 0.2em;
  font-size: 2em;
}
.footer-logo {
  padding-right: 2em;
}
.footer-terminos {
  text-align: right;
}
.hero-container {
  width: 100%;
  min-height: 80vh;
  max-height: 500px;
  overflow: hidden;
  background: #111;
  position: relative;
}
.hero-cover {
  width: 200%;
  height: 100%;
}
@media screen and (min-width: 769px) {
  .hero-cover {
    width: 100%;
  }
}
.hero-cover img {
  width: 100%;
  height: 100%;
}
.hero-play {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6em;
  cursor: pointer;
  color: #dc2028;
  box-shadow: inset 0 0 0.7em #dc2028;
  padding: 0;
  border-radius: 50%;
}
.hero-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(bottom, #000, rgba(0,0,0,0));
  background: linear-gradient(to top, #000, rgba(0,0,0,0));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px;
}
.video-artist {
  color: #dc2028;
  font-weight: bold;
  font-size: 1em;
  padding: 0.3em 0;
}
@media screen and (min-width: 769px) {
  .video-artist {
    font-size: 1.5em;
  }
}
.video-name {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .video-name {
    font-size: 2.5em;
  }
}
.video-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.video-genere {
  color: #dc2028;
  border: 2px solid;
  padding: 0.4em 0.8em;
  border-radius: 8px;
  margin: 0px 0.5em;
}
.video-views,
.video-likes {
  cursor: pointer;
  color: #dc2028;
  font-size: 2em;
  margin: 0 0.5em;
}
.video-points {
  margin: 0.5em;
}
.video-point {
  color: #dc2028;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 50%;
}
.video-point_active {
  background: #dc2028;
}
.player-container {
  width: 80%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ddd;
}
.player-container video {
  width: 100%;
  height: 100%;
}
.hiden {
  display: none;
}
.videos-container {
  padding: 15px;
}
.videos-seleccion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}
.videos-category {
  font-size: 1.8em;
  font-weight: bold;
}
.videos-prev {
  padding: 0.4em;
  border: 3px solid #ccc;
  border-radius: 4px;
  color: #ccc;
  cursor: pointer;
}
.videos-next {
  padding: 0.4em;
  border: 3px solid #dc2028;
  border-radius: 4px;
  color: #ccc;
  background: #dc2028;
  cursor: pointer;
}
.videos-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 15px 0;
}
@media screen and (min-width: 769px) {
  .videos-items {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.videos-item {
  background: #fff;
  width: 300px;
  height: 320px;
  margin: 15px 0;
}
.videos-item-tape {
  width: 100%;
  height: 70%;
  position: relative;
}
.videos-item-cover {
  width: 100%;
  height: 100%;
}
.videos-item-info {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30%;
  background: -webkit-linear-gradient(bottom, #000, rgba(0,0,0,0));
  background: linear-gradient(to top, #000, rgba(0,0,0,0));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.videos-item-time,
.videos-item-likes,
.videos-item-message {
  font-weight: bold;
  color: #fff;
}
.videos-item-icon {
  color: #dc2028;
}
.videos-item-duration {
  color: #dc2028;
  font-weight: bold;
}
.videos-item-name {
  padding: 10px;
  height: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.videos-item-title {
  font-weight: bold;
}
.videos-item-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.videos-item-artist {
  color: #ccc;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0.4em;
}
.videos-item-views {
  color: #ccc;
  font-size: 0.6em;
}
.videos-item-play {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
