@import "./icomoon/style.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #323232;
  background: #f4f4f4;
  position: relative;
}
.button-primary {
  background: #dc2028;
  padding: 0.6em 0.7em;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  border: none;
  margin: 0 1em;
}
.header-container {
  height: 76px;
  background: #fdfdfd;
  padding: 5px 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
}
.header-menus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-logo {
  width: 60px;
  height: auto;
}
.header-icon {
  padding: 0.5em;
  font-size: 2em;
  cursor: pointer;
}
.header-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-input {
  width: 50%;
  border-radius: 5px;
  line-height: 3em;
  border: none;
  display: none;
  background: #fff;
}
.header-input:focus {
  outline-style: none;
}
@media screen and (min-width: 769px) {
  .header-input {
    width: 100%;
  }
}
.header-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.header-button:focus {
  outline-style: none;
}
.header-menu-responsive {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (min-width: 769px) {
  .header-menu-responsive {
    display: none;
  }
}
.header-nav {
  background: #fdfdfd;
  position: absolute;
  z-index: 10000;
  top: 76px;
  left: 0;
  width: 100%;
  display: none;
}
@media screen and (min-width: 769px) {
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }
}
.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 769px) {
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.nav-item {
  width: 100%;
  text-align: center;
}
.nav-item a {
  display: block;
  cursor: pointer;
  padding: 1em;
  font-weight: 600;
}
.nav-item a:hover {
  background: #cacaca;
}
.nav-item a:active {
  color: #dc2028;
}
.show {
  display: block;
}
.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background: #333;
}
.footer-left,
.footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-logo,
.footer-terminos,
.footer-icon {
  color: #fefefe;
}
.footer-icon {
  padding: 0.2em;
  font-size: 2em;
}
.footer-logo {
  padding-right: 2em;
}
.footer-terminos {
  text-align: right;
}
.hero-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.hero-medium {
  min-height: 10vh;
  max-height: 40vh;
}
.hero-large {
  min-height: 80vh;
  max-height: 500px;
}
.hero-cover {
  width: 200%;
  height: 100%;
}
@media screen and (min-width: 769px) {
  .hero-cover {
    width: 100%;
  }
}
.hero-cover img {
  width: 100%;
  height: 100%;
}
.hero-play {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6em;
  cursor: pointer;
  color: #dc2028;
  box-shadow: inset 0 0 0.7em #dc2028;
  padding: 0;
  border-radius: 50%;
}
.hero-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(bottom, #000, rgba(0,0,0,0));
  background: linear-gradient(to top, #000, rgba(0,0,0,0));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px;
}
.video-artist {
  color: #dc2028;
  font-weight: bold;
  font-size: 1em;
  padding: 0.3em 0;
}
@media screen and (min-width: 769px) {
  .video-artist {
    font-size: 1.5em;
  }
}
.video-name {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .video-name {
    font-size: 2.5em;
  }
}
.video-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.video-genere {
  color: #dc2028;
  border: 2px solid;
  padding: 0.4em 0.8em;
  border-radius: 8px;
  margin: 0px 0.5em;
}
.video-views,
.video-likes {
  cursor: pointer;
  color: #dc2028;
  font-size: 2em;
  margin: 0 0.5em;
  padding: 0.5em 0;
}
.video-points {
  margin: 0.5em;
}
.video-point {
  color: #dc2028;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 50%;
}
.video-point_active {
  background: #dc2028;
}
.video-left {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.video-canal {
  position: absolute;
  bottom: 0;
  left: 15px;
  background: #dc2028;
  text-transform: uppercase;
  padding: 1em;
  font-weight: bold;
  color: #fff;
  font-size: 1.3em;
}
.video-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.video-text {
  color: #dc2028;
  font-size: 1.8em;
  font-weight: bold;
}
.video-icon {
  font-size: 1.8em;
  color: #fff;
}
.hiden {
  display: none;
}
.videos-container {
  padding: 15px;
}
.videos-seleccion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}
.videos-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.videos-select {
  background: none;
  border: 1px solid #aaa;
  font-size: 1.2em;
  color: #aaa;
  border-radius: 5px;
  padding: 0.2em;
}
.videos-order {
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}
.videos-order:active {
  background: #dc2028;
  border-radius: 5px;
  color: #fff;
}
.videos-order-desk {
  display: none;
}
@media screen and (min-width: 769px) {
  .videos-order-desk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 769px) {
  .videos-order-mobile {
    display: none;
  }
}
.videos-category {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: capitalize;
}
.videos-prev {
  padding: 0.4em;
  border: 3px solid #ccc;
  border-radius: 4px;
  color: #ccc;
  cursor: pointer;
}
.videos-next {
  padding: 0.4em;
  border: 3px solid #dc2028;
  border-radius: 4px;
  color: #ccc;
  background: #dc2028;
  cursor: pointer;
}
.videos-icon {
  font-size: 1.5em;
  color: #dc2028;
  margin-right: 5px;
}
.videos-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 15px 0;
}
@media screen and (min-width: 769px) {
  .videos-items {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.videos-item {
  background: #fff;
  width: 300px;
  height: 320px;
  margin: 15px 0;
}
.videos-item-tape {
  width: 100%;
  height: 70%;
  position: relative;
}
.videos-item-cover {
  width: 100%;
  height: 100%;
}
.videos-item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.videos-item-time,
.videos-item-likes,
.videos-item-message {
  font-weight: bold;
}
.videos-item-icon {
  color: #dc2028;
}
.videos-item-duration {
  color: #dc2028;
  font-weight: bold;
}
.videos-item-name {
  padding: 10px;
  height: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.videos-item-title {
  font-weight: bold;
}
.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 200000;
}
.modal-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  min-height: 200px;
  background: #fff;
}
.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 25px;
  width: 100%;
  height: 100%;
}
.modal-close {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  font-weight: bold;
  padding: 1em;
}
.modal-logo {
  width: 180px;
  height: auto;
  padding: 1.5em 1em;
  margin: 0 auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.modal-text {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 10px 0;
}
.modal-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-input {
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-button {
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  background: #dc2028;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
  padding: 0.7em 0;
}
.modal-button:hover {
  background: #e86167;
}
.modal-button i {
  font-size: 1.2em;
  padding: 0 0.3em;
}
.modal-button-facebook,
.modal-button-twitter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15%;
}
.modal-button-facebook {
  background: #3b5998;
}
.modal-button-facebook:hover {
  background: #6886c4;
}
.modal-button-twitter {
  background: #55acee;
}
.modal-button-twitter:hover {
  background: #88c5f3;
}
.modal-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 5px 0;
}
.modal-link {
  color: #aaa;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.5em;
  padding-top: 15px;
}
.modal-link:hover {
  color: inherit;
}
.terminos-container {
  width: 100%;
}
.terminos-title {
  background: #dc2028;
  padding: 1.5em 15px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}
.terminos-term {
  padding: 15px;
}
.terminos-term-number {
  color: #dc2028;
  font-weight: bold;
  font-size: 0.8em;
  padding-bottom: 5px;
}
.terminos-term-title {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 5px;
}
.terminos-term-text {
  color: #777;
}
.perfil-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  .perfil-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.perfil-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 15px;
}
.perfil-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.perfil-text {
  font-weight: bold;
  font-size: 0.9em;
}
.perfil-editar {
  color: #dc2028;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: bold;
}
.perfil-categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 769px) {
  .perfil-categories {
    width: auto;
    margin-left: 50px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}
.perfil-categories div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.perfil-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px 0;
}
@media screen and (min-width: 769px) {
  .perfil-image {
    width: auto;
    margin: 0 50px;
  }
}
.perfil-img {
  width: 80px;
  height: 80px;
  margin: 10px 0;
}
.perfil-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .perfil-options {
    width: auto;
  }
}
@media screen and (min-width: 1025px) {
  .perfil-options {
    margin-left: 50px;
  }
}
.perfil-icon {
  color: #aaa;
  font-size: 1.6em;
  margin-left: 0.5em;
}
.perfil-number {
  color: #dc2028;
  font-weight: bold;
  font-size: 2em;
}
.perfil-stat {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  margin: 15px 0;
}
@media screen and (min-width: 769px) {
  .perfil-stat {
    width: auto;
    margin: 0;
    margin-bottom: 50px;
  }
}
.single-player {
  width: 100%;
  min-height: 50vh;
  background: #1a1a1a;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.single-options {
  display: none;
}
@media screen and (min-width: 1025px) {
  .single-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 15px 15px 0;
  }
}
.single-sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 769px) {
  .single-sections {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.single-social {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 60%;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin: 0 15px;
  padding: 10px;
  background: #fff;
}
.single-icon {
  color: #dc2028;
}
.single-icon-social {
  color: #fff;
  background: #f00;
  border-radius: 50%;
  padding: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}
.single-info {
  margin-bottom: 30px;
}
.single-info-artist {
  font-size: 1.3em;
  color: #dc2028;
  font-weight: bold;
}
.single-info-name {
  font-size: 1.8em;
  font-weight: bold;
  margin: 5px 0;
}
.single-info-inf {
  margin-bottom: 15px;
}
.single-info-views {
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 2em;
}
.single-info-time,
.single-info-likes,
.single-info-comments {
  font-size: 0.8em;
  color: #aaa;
  font-weight: bold;
}
.single-info-share {
  margin: 30px 0;
}
.single-info-description {
  color: #aaa;
  line-height: 1.3em;
}
.single-comments-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.single-comments-title {
  font-weight: bold;
  font-size: 1.2em;
}
.single-comments-ultimos,
.single-comments-populares {
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 0.5em;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
}
.single-comments-ultimos:active,
.single-comments-populares:active {
  background: #dc2028;
  color: #fff;
}
.single-comments-write {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.single-comments-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}
.single-comments-avatar-small {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.single-comments-form {
  margin-left: 10px;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}
.single-comments-input {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 10px;
  height: 70px;
  font-family: sans-serif;
}
.single-comments-comment {
  padding-left: 25px;
  margin-top: 15px;
}
.single-comments-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.single-comments-user {
  text-transform: uppercase;
  color: #dc2028;
  padding: 0 1em;
  font-weight: bold;
}
.single-comments-text {
  padding-left: 50px;
}
.single-videos {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.single-videos-section {
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0;
}
@media screen and (min-width: 769px) {
  .single-videos-section {
    margin-bottom: 15px;
    margin-top: 0;
  }
}
.single-videos-video {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin: 10px 0;
}
.single-videos-img {
  width: 40%;
  height: 100%;
}
.single-videos-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 10px;
}
.single-videos-title {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em;
}
.single-videos-artist,
.single-videos-views {
  text-transform: uppercase;
  color: #aaa;
  font-size: 0.7em;
}
.single-videos-time {
  color: #dc2028;
  font-weight: bold;
  font-size: 0.9em;
}
.player-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
}
.player-container video {
  width: 100%;
  height: 100%;
}
.icon-social-facebook {
  background: #3b5998;
}
.icon-social-twitter {
  background: #00aced;
}
.icon-social-plus {
  background: #dd4b39;
}
.icon-social-mail {
  background: #808080;
}
.icon-social-share {
  background: #5cb85c;
}
