

// import global styles

@import "./global/reset.css"
@import "./global/variables.styl"
@import "./icomoon/style.css"



*,
*:before,
*:after
  box-sizing border-box

body
  font-family: sans-serif;
  font-size: 16px
  color: $color-text1

// import style components

@import "./components/header.styl"
@import "./components/footer.styl"
